html{
  background-color: #7FA1C3;
}
.new-post-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .upload-section, .caption-section, .tags-location-section, .advanced-settings {
    margin-top: 20px;
    margin-right: 20px;
  }
  
  .upload-area {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
  }
  
  .upload-area label {
    cursor: pointer;
  }
  
  .preview {
    margin-top: 20px;
  }
  
  textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    resize: none;
    font-size: 1rem;
  }
  
  .char-count {
    text-align: right;
    font-size: 1rem;
    color: #888;
  }
  
  .post-btn {
    width: 100%;
    padding: 15px;
    background-color: #7FA1C3;
    color: black;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  

  .post-btn:hover {
    background-color: #007bbd;
  }
  
  h1{
    text-align: center;
  }
  .preview {
    margin-top: 20px;
    text-align: center;
    max-height:fit-content;
    overflow: hidden;
  }
  
  .preview img, .preview video {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  #char-count {
    text-align: right;
    font-size: 12px;
    color: #888;
    margin-top: 5px;
  }
  
  .upload-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .tag-input, .location-input{
    padding: 10px;
    font-size: 0.85rem;
  }

  a{
    text-decoration: none;
    color: #7FA1C3;
  }